<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        {{title}}
      </h2>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Time Picker</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <app-time-picker [(ngModel)]="timePickerTime"></app-time-picker>
              </div>
              <div class="form-group">
                <label>Current Setting</label>
                <p class="form-control-static">
                  {{ timePickerTime }}
                </p>
              </div>
              <button class="btn btn-default" (click)="timePickerTime = 9*1000*60*60">Set Time to 9 AM</button>
              <button class="btn btn-default" (click)="timePickerTime = 10*1000*60*60">Set Time to 10 AM</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Day Picker</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <app-day-picker [(ngModel)]="dayPickerDay"></app-day-picker>
              </div>
              <div class="form-group">
                <label>Current Setting</label>
                <p class="form-control-static">
                  {{ dayPickerDay | date:mediumDate }}
                </p>
              </div>
              <button class="btn btn-default" (click)="setToYesterday()">Change to yesterday</button>
              <button class="btn btn-default" (click)="setToTomorrow()">Change to tomorrow</button>
              <hr />
              <div class="form-group">
                <label>Day Picker for copy <br> <small>should stay in sync... doesn't.</small></label>
                <app-day-picker [(ngModel)]="dayPickerCopy"></app-day-picker>
              </div>
              <div class="form-group">
                <label>Current Setting</label>
                <p class="form-control-static">
                  {{ dayPickerCopy | date:mediumDate }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Date Picker</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <app-date-picker [(ngModel)]="datePickerDate"></app-date-picker>
              </div>
              <div class="form-group">
                <label>Current Setting</label>
                <p class="form-control-static">
                  {{ datePickerDate | date:'medium' }}
                </p>
              </div>
              <button class="btn btn-default" (click)="setToYesterdayTenAm()">Change to yesterday @ 10AM</button>
              <button class="btn btn-default" (click)="setToTomorrowNineAm()">Change to tomorrow @ 9PM</button>
              <hr />
              <div class="form-group">
                <label>Mirrored Date Picker <br> <small>***should*** stay in sync with the previous one</small></label>
                <app-date-picker [(ngModel)]="datePickerCopy"></app-date-picker>
              </div>
              <div class="form-group">
                <label>Current Setting</label>
                <p class="form-control-static">
                  {{ datePickercopy | date:'medium' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
